body{
    background-color: rgb(243, 249, 253);
    font-family: 'Dongle', sans-serif;
    font-size:large
}

.heading{
    color:rgb(122, 187, 240);
}

.row{
    width: 100%;
}

.timer{
    color:rgb(243, 249, 253);
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timecolor{
    color:rgb(122, 187, 240);
}

.fa-play, .fa-redo{
    color:rgb(122, 187, 240);
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 1rem;
    
}

.fa-play:hover, .fa-redo:hover{
    color:rgb(122, 187, 240);
    border: 2px solid rgb(197, 230, 231);
    transition: 0.2s ease-in;
}

circle{
    fill: none;
    stroke: rgb(138, 179, 180) ;
    stroke-width: 10px;
    stroke-dasharray: 935;
    stroke-dashoffset: 935;
    animation: anim 3195s linear  forwards;
}

svg{
    
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 5px solid;
    border-radius: 20rem;
}

@keyframes anim {
    100%{
        stroke-dashoffset: 0;
    }
}